.search {
    margin: 40px 0;
    display: flex;
    justify-content: center;

    input {
        height: 30px;
        width: 250px;
        padding: 6px;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    padding: 0 30px;
}

.movie {

    width: 300px;

    img {
        height: 200px;
        width: 200px;
        object-fit: contain;
        margin: 15px 0;
    }
}


h2 {
    text-align: center;
}