<div class="search">
    <input type="text" [(ngModel)]="search" (ngModelChange)="onChange($event)" />
</div>

<ng-container *ngIf="movies$ | async as movies else emptyState">

    <div class="movies">

        <div *ngFor="let movie of movies" class="movie">
            <header>
                <h3>{{movie.Title}}</h3>
            </header>

            <img alt="Img" [src]="movie.Poster !=='N/A' ? movie.Poster : 'https://via.placeholder.com/150' " />

            <div>
                <h4>{{movie.Type}}</h4>
                <p>{{movie.Year}}</p>
            </div>

        </div>

    </div>

</ng-container>

<ng-template #emptyState>
    <h2>You need to type some Movie Title</h2>
</ng-template>