.small {
    height: 20px;
    width: 20px;
    background-color: blueviolet;
}

.medium {
    height: 45px;
    width: 45px;
    background-color: cadetblue;
}

.big {
    height: 65px;
    width: 67px;
    background-color: chocolate;
}