h3 {
    margin-bottom: 20px;
    text-align: center;
}

.form-worker {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 30px;
    }

    button {
        width: 80px;
        margin: 30px;
    }

    span {
        margin-top: 30px;
    }

    label {
        width: 100px;
    }


}