<router-outlet></router-outlet>

<!-- <app-item itemTitle="New Title" (tmpOutput)="handleClick($event)"></app-item>

    <p [ngClass]="{'text-green': toggleGreenText , 'font-bold': !toggleGreenText}">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid esse laborum non? Cum cumque eos
        reiciendis,
        vitae, perferendis voluptatem dicta soluta, suscipit similique quasi fugit itaque molestiae sint. Corrupti?
    </p> -->



<!-- <input class="if-input" type="number" [(ngModel)]="inputValue"> -->

<!-- 
    <ng-container [ngSwitch]="inputValue">
        <app-square *ngSwitchCase="1" [size]="small"></app-square>

        <app-square *ngSwitchCase="2" [size]="medium"></app-square>

        <app-square *ngSwitchCase="3" [size]="big"></app-square>
    </ng-container> -->

<!-- <div class="date">
        <p>Today is: {{ newDate | date:'short' }}</p>
        <p>{{ {name: 'seweryn', lastName: 'Wadowski', prof: 'JS developer'} | json}}</p>
        <p>{{ [1, 15, 22, 5, 17, 34, 100] | slice:2:5 }}</p>
    </div> -->