.date {
    font-size: 24px;

    p {
        margin: 10px 0;
    }

}

.text-green {
    color: green;
}

.font-bold {
    font-weight: bold;
}

.input-value {
    font-size: 22px;
    padding: 30px 0;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.if-input {
    margin: 20px 0;
}


.list-header {
    margin-bottom: 20px;
}