<nav>
    <a class="link" routerLink="/home" routerLinkActive="active">Home</a>

    <a class="link" routerLink="/workers" routerLinkActive="active">Workers</a>

    <a class="link" routerLink="/movies" routerLinkActive="active">Movies</a>
    <!-- <a class="link" [routerLink]="['movies', param]" routerLinkActive="active">Movies</a> -->

    <!-- If you want check queryParams -->
    <!-- <a class="link" routerLink="movies" [queryParams]="{movieId: param}" routerLinkActive="active">Movies</a> -->
</nav>